.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 2px solid black;
  border-radius: 8px;
  width: 360px;
}
